.botones{
    
    font-family: Helvetica, Times New Roman, sans-serif;
}

.boton1
{
    border: solid black;
    background-color: black;
    color: white;
    font-size: 28px;
}
.boton2
{
    border: solid black;
    background-color: yellow;
    font-size: 28px;
}
