#ja{
    background-color: white;
    padding: 12px;
    margin: 50px;
    
}
#par1{
    font-size: 16px;
    padding: 8px;
}
.ol{
    padding: 8px;
    margin: 20px;
    background-color: rgb(199, 252, 252);
}